.navbar {
	position: absolute;
	z-index: 999;
	background-color: rgb(0, 0, 0);
	// min-width: 25rem;
	width: 0;
	height: 100vh;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	z-index: 999999;
	overflow-y: auto;
	padding-bottom: 2rem;

	&::-webkit-scrollbar {
		display: none;
	}
	// min-width: 22rem;

	@media all and (min-width: 1050px) {
		position: relative;
		width: 25rem;
		visibility: visible;
	}

	.logo {
		display: block;
		margin: 3rem auto 0;
	}

	.logoName {
		display: block;
		margin: 0 auto 0.5rem;
	}

	.logoText {
		display: block;
		margin: 0 auto 3rem;
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		li {
			a {
				cursor: pointer;
				display: block;
				width: 17rem;
				font-size: 2.6rem;
				text-align: center;
				background-color: rgba(41, 38, 38, 0.78);
				color: #b78c54;
				padding: 1.5rem 1.8rem;
				margin-bottom: 2rem;
				text-decoration: none;
				transition: all 0.3s ease;

				&:hover {
					background-color: darken(rgba(41, 38, 38, 0.78), 7);
					color: #fff;
				}
			}
		}
	}

	.iconContainer {
		width: 100%;
		display: flex;
		justify-content: space-evenly;

		span {
			border-radius: 50%;
			padding: 1rem 1.5rem;
			background-color: #777;
		}
	}
}

.open {
	width: 25rem !important;
	visibility: visible;
}
